@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$secondaryTextColor;
    display: flex;
    justify-content: center;
    border: variables.$textColor 1px solid;
    border-radius: 10px;
        
    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$textColor;

            b {
                color: variables.$textColor;
                font-size: 18px;
                display: block;
            }
        }
    }
    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}